/* Styling */
/* Style the navigation menu */
.nav__menu {
  overflow: hidden;
  background-color: #143D94;
  position: relative;
  color: #FFA800;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.nav__items {
  display: none;
}

a.nav__item {
  font-weight: bold;
}

/* Style navigation menu links */
.nav__menu a {
  color: #FFA800;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.nav__menu a.icon {
  background: #143D94;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.nav__menu a:hover {
  background-color: #0055B0;
  color: #FFA800;
}
